<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}" type="text/css">
    
    <title>Tasks</title>
</head>
<body>
    <header>
        <nav class="deep-purple lighten-3">
            <div class="nav-wrapper">
              <a href="#!" class="brand-logo">Task Manager</a>
              <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fa-solid fa-arrows-turn-to-dots"></i></a>
              <ul class="right hide-on-med-and-down">
                <li><a href="{{ url_for('home')}}">Home</a></li>
                <li><a href="">New Task</a></li>
                <li><a href="">Categories</a></li>
                
              </ul>
            </div>
          </nav>
        
          <ul class="sidenav" id="mobile-demo">
            <li><a href="{{ url_for('home')}}">Home</a></li>
            <li><a href="">New Task</a></li>
            <li><a href="">Categories</a></li>
            
          </ul>
    </header>

    <main class="container">
        {% block content %}
        {% endblock %}

    </main>

    <footer class="page-footer deep-purple lighten-3">
        <div class="footer-copyright">
          <div class="container">
            For education
          <a class="grey-text text-lighten-4 right" href="https://codeinstitute.net" target="_blank">&copy: code institute</a>
          </div>
        </div>
      </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://kit.fontawesome.com/b6bd3cd609.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/script.js')}}"></script>
</body>
</html>